<div class="container" ng-controller="MainCtrl">
    <table class="table table-stripped table-hover">
        <tbody>
            <tr ng-repeat="show in series">
                <td>{{ show.name }}</td>
                <td>S{{ show.season|addPrefixZero }}E{{ show.episode|addPrefixZero }}</td>
                <td><a class="btn btn-success" ng-click="AddOne(show)">
                    <i class="glyphicon glyphicon-plus"></i></a></td>
                <td><a class="btn btn-danger" ng-click="ReduceOne(show)"><i class="glyphicon glyphicon-minus"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>